@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&family=Poppins&display=swap');

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}

body, html{
	scroll-behavior: smooth;
}

.offset:before{
	display: block;
	content: "";
	height: 6rem;
}

.navbar{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.2rem;
	background: rgba(0,0,0,0.6) !important;
	padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color:  #bdeaee;
}

.heading-content{
	position: absolute;
	top: 40%;
	width: 100%;
	max-width: 100%;
}


.heading-content h5{
	font-size: 4em;
	font-weight: 300;
	color: #fff;
	font-family: monospace;
}

.heading-content h1{
	font-size: 5em;
	font-weight: bolder;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.heading-content p{
	font-size: 1em;
	text-transform: uppercase;
	font-weight: lighter;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	word-spacing: 5px;
	letter-spacing: 2px;
}

.row img{
	max-width:100%;
	position: relative;
	bottom: 30%;
}


/* -------------------------------  Service ---------------*/

#service .button{
	border: 2px solid transparent;
	width: 40%;
	padding: 15px 22px;
	background: #283655;
	border-radius: 5px;
	margin-top: 10px;
}

#service .button a{
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

#service .button:hover{
	border: 2px solid #d0e1f9;
	cursor: pointer;
}

#service .btn{
	border: 2px solid transparent;
	background: #283655;
	border-radius: 5px;
	margin-top: 10px;
}

#service .btn a{
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

#service .btn:hover{
	border: 2px solid #d0e1f9;
	cursor: pointer;
}

a i{
	padding-left: 5%;
}

#contact .btn{
	background: #283655;
}

@media screen and (max-width: 770px){

.heading-content{
	position: absolute;
	top: 10%;
	width: 100%;
	max-width: 100%;
}

.navbar{
	letter-spacing: 0.1rem;
	padding: 10px 0;
}

.heading-content h5{
	font-size: 3em;
}

.heading-content h1{
	font-size: 3em;
}

.heading-content p{
	font-size: 0.7em;
}

#service .button{
	border: 2px solid transparent;
	width: 40%;
	padding: 10px 10px;
	background: #283655;
	border-radius: 5px;
	margin-top: 5px;
}

#service .button a{
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

#service .button:hover{
	border: 2px solid #d0e1f9;
	cursor: pointer;
}

}

@media screen and (max-width: 479px){

.heading-content{
	position: absolute;
	top: 10%;
	width: 100%;
	max-width: 100%;
}

.navbar{
	letter-spacing: 0.1rem;
	padding: 7px 0;
}

.heading-content h5{
	font-size: 2em;
}

.heading-content h1{
	font-size: 2em;
}

.heading-content p{
	font-size: 0.3em;
}

#contact .post-heading h3{
	font-size: 2em;
}

}